## DataFrame Object

DataFrame is the a main object in pandas.It is used to represent data with rows and columns(tabular or excel spreadshee like data

In [9]:
#Imprting pandas module
import pandas as pd

In [10]:
#Now read a csv file
d=pd.read_csv('datasets/weather.csv')
#print dataframe "d"
d.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

### Creating DataFrame with disctionary
  * You can also create DataFrame with python disctionary very easily.
  * You just need to call DataFrame() function and pass the disctionary as a argument in the function.
  * <b>Note:</b> Notice one thing that i have taken all the columns of same length because you can not make dataframe object if your disctionary has variable column length

In [3]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

      dates    day  temp  wind-speed
0  02-01-12  sunny    45          12
1  03-01-12  rainy    46          34
2  04-01-12    hot    47          45
3  05-01-12  sunny    48          56
4  06-01-12    hot    49          67

### Shape of the dataframe
  * <b>df.shape :</b> It will return a tuple (rows,columns)

In [4]:
df.shape

(5, 4)

### Accessing columns :
 * What if you want to print only two columns

In [5]:
df[['day','temp']]

     day  temp
0  sunny    45
1  rainy    46
2    hot    47
3  sunny    48
4    hot    49

### Statistics of your dataframe
 * You can see the statistics of your dataframe by calling describe() function
 * It will print count of the columns,mean,SD,min,max etc..

In [14]:
d.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

### Condition:
 * To get dataframe where temperature is greater than 9

In [17]:
d1=d[d['Temperature (C)']>9]
d1

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
9,2006-04-01 09:00:00.000 +0200,Partly Cloudy,rain,13.772222,13.772222,0.72,12.5258,279.0,9.9820,0.0,1017.22,Partly cloudy throughout the day.
10,2006-04-01 10:00:00.000 +0200,Partly Cloudy,rain,16.016667,16.016667,0.67,17.5651,290.0,11.2056,0.0,1017.42,Partly cloudy throughout the day.
11,2006-04-01 11:00:00.000 +0200,Partly Cloudy,rain,17.144444,17.144444,0.54,19.7869,316.0,11.4471,0.0,1017.74,Partly cloudy throughout the day.
12,2006-04-01 12:00:00.000 +0200,Partly Cloudy,rain,17.800000,17.800000,0.55,21.9443,281.0,11.2700,0.0,1017.59,Partly cloudy throughout the day.
13,2006-04-01 13:00:00.000 +0200,Partly Cloudy,rain,17.333333,17.333333,0.51,20.6885,289.0,11.2700,0.0,1017.48,Partly cloudy throughout the day.
14,2006-04-01 14:00:00.000 +0200,Partly Cloudy,rain,18.877778,18.877778,0.47,15.3755,262.0,11.4471,0.0,1017.17,Partly cloudy throughout the day.
15,2006-04-01 15:00:00.000 +0200,Partly Cloudy,rain,18.911111,18.911111,0.46,10.4006,288.0,11.2700,0.0,1016.47,Partly cloudy throughout the day.
16,2006-04-01 16:00:00.000 +0200,Partly Cloudy,rain,15.388889,15.388889,0.60,14.4095,251.0,11.2700,0.0,1016.15,Partly cloudy throughout the day.
17,2006-04-01 17:00:00.000 +0200,Mostly Cloudy,rain,15.550000,15.550000,0.63,11.1573,230.0,11.4471,0.0,1016.17,Partly cloudy throughout the day.
18,2006-04-01 18:00:00.000 +0200,Mostly Cloudy,rain,14.255556,14.255556,0.69,8.5169,163.0,11.2056,0.0,1015.82,Partly cloudy throughout the day.
19,2006-04-01 19:00:00.000 +0200,Mostly Cloudy,rain,13.144444,13.144444,0.70,7.6314,139.0,11.2056,0.0,1015.83,Partly cloudy throughout the day.
20,2006-04-01 20:00:00.000 +0200,Mostly Cloudy,rain,11.550000,11.550000,0.77,7.3899,147.0,11.0285,0.0,1015.85,Partly cloudy throughout the day.
21,2006-04-01 21:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.76,4.9266,160.0,9.9820,0.0,1015.77,Partly cloudy throughout the day.
22,2006-04-01 22:00:00.000 +0200,Partly Cloudy,rain,10.116667,10.116667,0.79,6.6493,163.0,15.8263,0.0,1015.40,Partly cloudy throughout the day.
23,2006-04-01 23:00:00.000 +0200,Mostly Cloudy,rain,10.200000,10.200000,0.77,3.9284,152.0,14.9569,0.0,1015.51,Partly cloudy throughout the day.
24,2006-04-10 00:00:00.000 +0200,Partly Cloudy,rain,10.422222,10.422222,0.62,16.9855,150.0,15.8263,0.0,1014.40,Mostly cloudy throughout the day.
25,2006-04-10 01:00:00.000 +0200,Partly Cloudy,rain,9.911111,7.566667,0.66,17.2109,149.0,15.8263,0.0,1014.20,Mostly cloudy throughout the day.
26,2006-04-10 02:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.80,10.8192,163.0,14.9569,0.0,1008.71,Mostly cloudy throughout the day.
32,2006-04-10 08:00:00.000 +0200,Mostly Cloudy,rain,9.872222,7.933333,0.78,13.7494,160.0,9.9820,0.0,1014.24,Mostly cloudy throughout the day.
33,2006-04-10 09:00:00.000 +0200,Mostly Cloudy,rain,12.222222,12.222222,0.72,15.6331,150.0,9.9820,0.0,1014.25,Mostly cloudy throughout the day.
34,2006-04-10 10:00:00.000 +0200,Mostly Cloudy,rain,15.094444,15.094444,0.61,17.5490,151.0,9.9820,0.0,1013.96,Mostly cloudy throughout the day.
35,2006-04-10 11:00:00.000 +0200,Mostly Cloudy,rain,17.355556,17.355556,0.52,22.7815,169.0,9.9820,0.0,1013.85,Mostly cloudy throughout the day.
36,2006-04-10 12:00:00.000 +0200,Mostly Cloudy,rain,19.005556,19.005556,0.46,23.8924,169.0,9.9820,0.0,1013.04,Mostly cloudy throughout the day.
37,2006-04-10 13:00:00.000 +0200,Mostly Cloudy,rain,20.044444,20.044444,0.40,28.3682,170.0,9.9820,0.0,1012.22,Mostly cloudy throughout the day.
38,2006-04-10 14:00:00.000 +0200,Mostly Cloudy,rain,21.050000,21.050000,0.40,26.9031,187.0,10.3523,0.0,1011.44,Mostly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96423,2016-09-08 18:00:00.000 +0200,Partly Cloudy,rain,27.800000,27.050000,0.32,3.0751,120.0,16.1000,0.0,1014.04,Partly cloudy starting overnight.
96424,2016-09-08 19:00:00.000 +0200,Partly Cloudy,rain,24.905556,24.905556,0.51,0.0000,0.0,16.1000,0.0,1014.14,Partly cloudy starting overnight.
96425,2016-09-08 20:00:00.000 +0200,Partly Cloudy,rain,22.366667,22.366667,0.58,3.3327,135.0,15.5526,0.0,1014.34,Partly cloudy starting overnight.
96426,2016-09-08 21:00:00.000 +0200,Mostly Cloudy,rain,21.016667,21.016667,0.64,3.2200,340.0,16.1000,0.0,1014.73,Partly cloudy starting overnight.
96427,2016-09-08 22:00:00.000 +0200,Partly Cloudy,rain,19.927778,19.927778,0.71,3.1556,302.0,16.1000,0.0,1014.63,Partly cloudy starting overnight.
96428,2016-09-08 23:00:00.000 +0200,Partly Cloudy,rain,18.350000,18.350000,0.77,3.2200,53.0,15.5526,0.0,1014.68,Partly cloudy starting overnight.
96429,2016-09-09 00:00:00.000 +0200,Partly Cloudy,rain,17.755556,17.755556,0.81,2.9624,12.0,16.1000,0.0,1014.65,Partly cloudy starting in the morning.
96430,2016-09-09 01:00:00.000 +0200,Clear,rain,16.622222,16.622222,0.87,3.4293,349.0,16.1000,0.0,1014.56,Partly cloudy starting in the morning.
96431,2016-09-09 02:00:00.000 +0200,Clear,rain,16.144444,16.144444,0.87,3.6547,16.0,15.1501,0.0,1014.69,Partly cloudy starting in the morning.
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,15.594444,0.87,3.2844,41.0,15.4399,0.0,1014.52,Partly cloudy starting in the morning.
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,15.011111,0.93,3.2039,341.0,15.8263,0.0,1014.37,Partly cloudy starting in the morning.
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,15.016667,0.90,2.7048,359.0,14.9569,0.0,1014.55,Partly cloudy starting in the morning.
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222,0.93,4.7495,0.0,15.8263,0.0,1014.66,Partly cloudy starting in the morning.
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,16.072222,0.88,2.7853,12.0,15.7297,0.0,1015.25,Partly cloudy starting in the morning.
96437,2016-09-09 08:00:00.000 +0200,Partly Cloudy,rain,19.561111,19.561111,0.75,3.7191,12.0,14.9569,0.0,1015.28,Partly cloudy starting in the morning.
96438,2016-09-09 09:00:00.000 +0200,Partly Cloudy,rain,22.138889,22.138889,0.65,7.7763,30.0,16.1000,0.0,1015.46,Partly cloudy starting in the morning.
96439,2016-09-09 10:00:00.000 +0200,Partly Cloudy,rain,22.872222,22.872222,0.59,6.4239,49.0,16.1000,0.0,1015.65,Partly cloudy starting in the morning.
96440,2016-09-09 11:00:00.000 +0200,Partly Cloudy,rain,27.072222,27.022222,0.42,12.0106,49.0,15.5526,0.0,1015.44,Partly cloudy starting in the morning.
96441,2016-09-09 12:00:00.000 +0200,Partly Cloudy,rain,28.866667,28.216667,0.37,13.9265,61.0,16.1000,0.0,1015.35,Partly cloudy starting in the morning.
96442,2016-09-09 13:00:00.000 +0200,Partly Cloudy,rain,30.994444,29.972222,0.33,15.6170,70.0,16.1000,0.0,1014.86,Partly cloudy starting in the morning.
96443,2016-09-09 14:00:00.000 +0200,Partly Cloudy,rain,30.894444,29.450000,0.28,14.7798,43.0,15.5526,0.0,1014.66,Partly cloudy starting in the morning.
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40.0,16.1000,0.0,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40.0,16.1000,0.0,1013.97,Partly cloudy starting in the morning.
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24.0,15.5526,0.0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21.0,16.1000,0.0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [18]:
#How many rows and columns are there in 'd1'?
d1.shape

(56606, 12)

### Changing Index
 * Pandas has its own indexing by default from 0 to row no 
 * We can also reset its index by set_index() function

In [6]:
df

      dates    day  temp  wind-speed
0  02-01-12  sunny    45          12
1  03-01-12  rainy    46          34
2  04-01-12    hot    47          45
3  05-01-12  sunny    48          56
4  06-01-12    hot    49          67

In [7]:
df.set_index('dates',inplace=True)

In [8]:
df

            day  temp  wind-speed
dates
02-01-12  sunny    45          12
03-01-12  rainy    46          34
04-01-12    hot    47          45
05-01-12  sunny    48          56
06-01-12    hot    49          67

#### Now we can find the specific value rows

In [24]:
df.loc['02-01-12']

day           sunny
temp             45
wind-speed       12
Name: 02-01-12, dtype: object

In [27]:
df.iloc[4]

day           hot
temp           49
wind-speed     67
Name: 06-01-12, dtype: object

In [28]:
df.iloc[0:3]

            day  temp  wind-speed
dates
02-01-12  sunny    45          12
03-01-12  rainy    46          34
04-01-12    hot    47          45

In [12]:
df.reset_index()

      dates    day  temp  wind-speed
0  02-01-12  sunny    45          12
1  03-01-12  rainy    46          34
2  04-01-12    hot    47          45
3  05-01-12  sunny    48          56
4  06-01-12    hot    49          67