In [56]:
from collections import Counter , defaultdict

import pandas as pd

# General Points

In [16]:
bikes=['A', 'B', 'C', 'D']

print("before ", bikes)

bikes.append(bikes)

print("after ", bikes)
print(len(bikes))

for i in bikes:
    print(i)
    
print("*"*100)
print(bikes[2])

print(bikes[3])
print(bikes[4])

print(bikes[4][4])


print("*"*100)
print(bikes[4][2])
print(bikes[4][4][1])

before  ['A', 'B', 'C', 'D']
after  ['A', 'B', 'C', 'D', [...]]
5
A
B
C
D
['A', 'B', 'C', 'D', [...]]
****************************************************************************************************
C
D
['A', 'B', 'C', 'D', [...]]
['A', 'B', 'C', 'D', [...]]
****************************************************************************************************
C
B

# Graded Question

In [70]:
input_string = "I am now a master of Logistic regression"
# Output 1:
# I Am Now A Master Of Logistic Regression

print(input_string)

print(input_string.title())

I am now a master of Logistic regression
I Am Now A Master Of Logistic Regression

In [ ]:
"""

Second Maximum Number in a List
Description
Given a list of numbers, find the second largest number in the list.

Note: There might be repeated numbers in the list. If there is only one number present in the list, return 'not present'.

Examples:
Input 1:
[7, 2, 0, 9, -1, 8]
Output 1:
8

Input 2:
[3, 1, 4, 4, 5, 5, 5, 0, 2, 2]
Output 2:
4

Input 2:
[6, 6, 6, 6, 6]
Output 2:
not present




"""

In [87]:
input_list = [7, 2, 0, 9, -1, 8, 8, 6]

# input_list = [3, 1, 4, 4, 5, 5, 5, 0, 2, 2]

# input_list = [6, 6, 6, 6, 6]

# input_list = ["abc"]

# input_list = []

remove_duplicate_values_in_list = list(set(input_list))
# print(remove_duplicate_values_in_list)
list_sort = sorted(remove_duplicate_values_in_list)

# print(list_sort)    
        
if(len(list_sort) > 1):
    print(list_sort[-2])
else:
    print("not present")

8

In [86]:
def remove_duplicate_values(val_list):
    s = []
    for i in val_list:
        if i not in s:
            s.append(i)
    return s

remove_duplicate_values_in_list = remove_duplicate_values(input_list)

list_sort = sorting_list(remove_duplicate_values_in_list)
   
if(len(list_sort) > 1):
    print(list_sort[-2])
else:
    print("not present")

8

In [79]:
>>> t = [1, 2, 3, 1, 2, 5, 6, 7, 8]
>>> t
[1, 2, 3, 1, 2, 5, 6, 7, 8]
>>> s = []
>>> for i in t:
       if i not in s:
          s.append(i)
>>> s
[1, 2, 3, 5, 6, 7, 8]

[1, 2, 3, 5, 6, 7, 8]

In [27]:
"""
image.png 24.76 KBï»¿The last column 'Channel' contains information about the type of channel the items are supplied to.
There are only three types of channels - 'Hotel', 'Restaurant', and 'Cafe'. But as you can notice, 
there are quality issues in the last data. A lot of the times Cafe as been written as 'C',
Hotel has been written as 'Hot', etc. Inspect these incorrect values and replace them with their actual full names. 


After this operation, the final column should only have 3 kinds of label - 'Hotel', 'Restaurant', and 'Cafe'. 

The dataframe has already been read to you in the variable 'wholesale'.

The print statement to print the final dataframe has also been provided. 
You just need to perform the operations for correcting the names present in the last column.

    
"""

"\nimage.png 24.76 KB\ufeffThe last column 'Channel' contains information about the type of channel the items are supplied to.\nThere are only three types of channels - 'Hotel', 'Restaurant', and 'Cafe'. But as you can notice, \nthere are quality issues in the last data. A lot of the times Cafe as been written as 'C',\nHotel has been written as 'Hot', etc. Inspect these incorrect values and replace them with their actual full names. \n\n\nAfter this operation, the final column should only have 3 kinds of label - 'Hotel', 'Restaurant', and 'Cafe'. \n\nThe dataframe has already been read to you in the variable 'wholesale'.\n\nThe print statement to print the final dataframe has also been provided. \nYou just need to perform the operations for correcting the names present in the last column.\n\n\n"

In [57]:

wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OkbnaOBqrBXZOpRQw1JGMgaM9/Wholesale_Data.csv')

# Write your code here. Make sure that you change the values in the column 'Channel' inplace. 

sale_val = dict(Counter(wholesale['Channel']))
print(sale_val)

wholesale.head(3)

{'Cafe': 45, 'Hot': 32, 'Hotel': 32, 'C': 36, 'H': 47, 'R': 42, 'Rest': 29, 'Restaurant': 30, 'Caffe': 42, 'Hote': 35}

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen Channel
0  12669  9656     7561     214              2674        1338    Cafe
1   7057  9810     9568    1762              3293        1776     Hot
2   6353  8808     7684    2405              3516        7844   Hotel

In [58]:
sale_correct_value = {
 'Hot': "Hotel",
 
 'C': "Cafe",
 'H': "Hotel",
 'R': "Restaurant",
 'Rest': "Restaurant",
 'Caffe': "Cafe",
 'Hote': "Hotel"}

wholesale["Channel"] = wholesale["Channel"].replace(sale_correct_value)

# The final print statement. Please don't edit this part. Also don't write any other
# print statement otherwise your answer will not match even if it is correct
print(wholesale['Channel'].value_counts())

Hotel         146
Cafe          123
Restaurant    101
Name: Channel, dtype: int64

In [53]:
"""
Each of the columns except for the column 'Channel' tells you the sales for each kind of product and 
the 'Channel' column tells you which 'Channel' you're selling to. 
Your task is to find out which of the three channels has the least total sales (for all the products combined).
For example, if the total sales to Cafe, Hotel, and Restaurant turn out to be 1 lakh, 2 lakh, and 3 lakh rupees, 
you need to print 'Cafe' since it has the lowest sales. 

"""

"\nEach of the columns except for the column 'Channel' tells you the sales for each kind of product and \nthe 'Channel' column tells you which 'Channel' you're selling to. \nYour task is to find out which of the three channels has the least total sales (for all the products combined).\nFor example, if the total sales to Cafe, Hotel, and Restaurant turn out to be 1 lakh, 2 lakh, and 3 lakh rupees, \nyou need to print 'Cafe' since it has the lowest sales. \n\n"

In [80]:
# least_sale = list(wholesale['Channel'].value_counts())
# print(type(least_sale))
# print(least_sale)
# print(min(least_sale))

# least_val_1 = wholesale['Channel'].value_counts()
# print(type(least_val_1))

# print(min(least_val_1))

In [69]:
from collections import Counter

sale_correct_value = {
 'Hot': "Hotel",
 
 'C': "Cafe",
 'H': "Hotel",
 'R': "Restaurant",
 'Rest': "Restaurant",
 'Caffe': "Cafe",
 'Hote': "Hotel"}

wholesale["Channel"] = wholesale["Channel"].replace(sale_correct_value)

B = Counter(wholesale['Channel'])
minimum = min(B, key=B.get)
print(minimum, B[minimum]) 

print(minimum)

Restaurant 101
Restaurant

In [121]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv")
#add your cleaning code here

df.head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [122]:
# df.isna().sum()

In [123]:
# df.info()

In [124]:
df["Installs"] = df['Installs'].apply( lambda x: x.strip("+"))

def split_fn_based_comma(x):
    new_split_list = x.split(",")
    str_val = ""
    for val in new_split_list :
        str_val = str_val + val 
    return str_val
        

df["Installs"] = df["Installs"].apply(lambda x: split_fn_based_comma(x))

df = df[df.Installs != 'Free']
df['Installs'] = df['Installs'].astype(int)

print(df.corr())

            Rating  Installs
Rating    1.000000  0.051355
Installs  0.051355  1.000000

In [117]:
# v = "raka,kumar"
# v1 = "rakeshkumar"
# v1.split(",")

## Model Selection

### Question

In [1]:


"""
Question 4
Remove empty lists
Write a Python program to eliminate all empty lists from a given list of lists.
The input will have a list of lists and the output should have the resulting list after eliminating empty lists from it.

Sample Input:
[[1,2,3],[],[4,5],[],[],[6,7,8]]

"""

'\nQuestion 4\nRemove empty lists\nWrite a Python program to eliminate all empty lists from a given list of lists.\nThe input will have a list of lists and the output should have the resulting list after eliminating empty lists from it.\n\nSample Input:\n[[1,2,3],[],[4,5],[],[],[6,7,8]]\n\n'

In [2]:
input_list = [[1,2,3],[],[4,5],[],[],[6,7,8]]

In [6]:
for i in input_list:
    if i:
        print(i)

[1, 2, 3]
[4, 5]
[6, 7, 8]

In [8]:
list_val = [l for l in input_list if l] 
print(list_val)

[[1, 2, 3], [4, 5], [6, 7, 8]]

### questions 2

In [9]:
"""

Question 1
Break the list
Write a Python program to divide a given list into chunks of size k.

The number of elements in the list need not to be divisible by k.
For example, if you want to divide the list [1,2,3,4,5,6,7] into chunk size k=4, then the first chunk will be [1,2,3,4] and the second one will have [5,6,7]. i.e. the last chunk need not have k elements.
The input will have two lines, the first line would have the list and the second line would have the value of k.(the code for taking input has already been written, you should not change that)
The final output should have the list chunks in different lines.

Sample Input:
[1,2,3,4,5,6,7,8,9]
3
Sample Output:

"""

'\n\nQuestion 1\nBreak the list\nWrite a Python program to divide a given list into chunks of size k.\n\nThe number of elements in the list need not to be divisible by k.\nFor example, if you want to divide the list [1,2,3,4,5,6,7] into chunk size k=4, then the first chunk will be [1,2,3,4] and the second one will have [5,6,7]. i.e. the last chunk need not have k elements.\nThe input will have two lines, the first line would have the list and the second line would have the value of k.(the code for taking input has already been written, you should not change that)\nThe final output should have the list chunks in different lines.\n\nSample Input:\n[1,2,3,4,5,6,7,8,9]\n3\nSample Output:\n\n'

In [10]:
"""

Sample Input:
[1,2,3,4,5,6,7,8,9]
3
Sample Output:

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]


"""

'\n\nSample Input:\n[1,2,3,4,5,6,7,8,9]\n3\nSample Output:\n\n[1, 2, 3]\n[4, 5, 6]\n[7, 8, 9]\n\n\n'

In [11]:
"""

For example, if you want to divide the list [1,2,3,4,5,6,7] into chunk 

size k=4, then the first chunk will be [1,2,3,4] 

and the second one will have [5,6,7]. i.e. the last chunk need not have k elements.


"""

'\n\nFor example, if you want to divide the list [1,2,3,4,5,6,7] into chunk \n\nsize k=4, then the first chunk will be [1,2,3,4] \n\nand the second one will have [5,6,7]. i.e. the last chunk need not have k elements.\n\n\n'

In [22]:
input_list = [1,2,3,4,5,6,7]

TypeError: object of type 'int' has no len()

In [24]:
lis=input_list[0]
k=input_list[1]
for i in range(0, lis, k):  
    print(lis[i:i + k])

TypeError: 'int' object is not subscriptable

### Questions 3

In [25]:
"""


Scrabble
Assume that you are trying to complete a crossword puzzle. In a crossword puzzle, some letters are given and
you have to figure out which complete word can you make out of it.

For example, given letters "cwd"in the same order, you can make the word 

"crossword" or "crowd" with it. But if "dw" is given in that order, 

you cannot make "crossword" out of it because d and w are in the opposite order here.



You want to find an efficient method and write a code for this process. 

The code will take two strings as input in two lines. The first string will contain letters on the crossword("cwd"), 

and the second string will contain a word that you want to check.
(i.e. you want to check whether the word can be made out of given letters in the same order).


The output should say "yes" if the word can be formed, else it should say "no"
Sample Input 1:
ccwd
crossword
Sample Output1:
no

Sample Input 2:
cwd
crossword
Sample Output 2:
yes


Note: Using regex is also one of the ways of solving this problem.
You can read more about regex(regular expressions) here. Although, you can simply use loops and

conditionals too to solve the problem.

"""

'\n\n\nScrabble\nAssume that you are trying to complete a crossword puzzle. In a crossword puzzle, some letters are given and\nyou have to figure out which complete word can you make out of it.\n\nFor example, given letters "cwd"in the same order, you can make the word \n\n"crossword" or "crowd" with it. But if "dw" is given in that order, \n\nyou cannot make "crossword" out of it because d and w are in the opposite order here.\n\n\n\nYou want to find an efficient method and write a code for this process. \n\nThe code will take two strings as input in two lines. The first string will contain letters on the crossword("cwd"), \n\nand the second string will contain a word that you want to check.\n(i.e. you want to check whether the word can be made out of given letters in the same order).\n\n\nThe output should say "yes" if the word can be formed, else it should say "no"\nSample Input 1:\nccwd\ncrossword\nSample Output1:\nno\n\nSample Input 2:\ncwd\ncrossword\nSample Output 2:\nyes\n\n\nNote: Using regex is also one of the ways of solving this problem.\nYou can read more about regex(regular expressions) here. Although, you can simply use loops and\n\nconditionals too to solve the problem.\n\n'

In [26]:
letters=input()#letters already in the crossword
guess=input()#word to check for fit
i = 0
for w in guess:
    if w == letters[i]: 
        i += 1
        if i >= len(letters): break

if (i == len(letters)):
    print('yes')
else:
    print('no')

4
2
no

### Questions 4

In [27]:
"""
Question 3
Paying the rent
You are moving to a new city for an internship for a few months and have to rent a house for that purpose.
You have to pay the full month's house rent even if you have lived for a few days for that month. i.e. if you start on 15th Jan and leave by 15th May, you still have to pay full rent for months of Jan and May too.

Your task is to find the months that you have to pay rent for so that you can write post-dated cheques to your landlord.

You will be given two dates as input and your task is to print all months between the dates including the months the dates are from.
The input will contain the two dates in a list as follows:
[2017,1,1,2017,3,4] which corresponds to 1st Jan, 2017 and 4th March, 2017. This date is in the format(yyyy,mm,dd)
(the code for taking input has already been written for you, please don't modify that)
The output should contain a list with names of months you have to pay the rent for(the list should be sorted chronologically  based on months, i.e May should come before August). You can assume that there won't be more than 12 months between two dates.
You'll need to use the datetime module for this problem which can be referred to here. You can choose to use any other method too.

Sample Input:
[2017,1,1,2017,1,1]
Sample Output:
['January']


"""

"\nQuestion 3\nPaying the rent\nYou are moving to a new city for an internship for a few months and have to rent a house for that purpose.\nYou have to pay the full month's house rent even if you have lived for a few days for that month. i.e. if you start on 15th Jan and leave by 15th May, you still have to pay full rent for months of Jan and May too.\n\nYour task is to find the months that you have to pay rent for so that you can write post-dated cheques to your landlord.\n\nYou will be given two dates as input and your task is to print all months between the dates including the months the dates are from.\nThe input will contain the two dates in a list as follows:\n[2017,1,1,2017,3,4] which corresponds to 1st Jan, 2017 and 4th March, 2017. This date is in the format(yyyy,mm,dd)\n(the code for taking input has already been written for you, please don't modify that)\nThe output should contain a list with names of months you have to pay the rent for(the list should be sorted chronologically  based on months, i.e May should come before August). You can assume that there won't be more than 12 months between two dates.\nYou'll need to use the datetime module for this problem which can be referred to here. You can choose to use any other method too.\n\nSample Input:\n[2017,1,1,2017,1,1]\nSample Output:\n['January']\n\n\n"

In [28]:
dateStart=datetime.date(input_list[0],input_list[1],input_list[2])
dateEnd=datetime.date(input_list[3],input_list[4],input_list[5])
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
ans = set()
while dateStart <= dateEnd:
	ans.add(dateStart.month)
	dateStart += datetime.timedelta(1)
print([months[x-1] for x in sorted(ans)])

NameError: name 'datetime' is not defined