### import lib

#### zxcvbn

In [1]:
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import Normalizer, StandardScaler, PolynomialFeatures

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_squared_log_error

import pandas as pd

import numpy as np 

from matplotlib import pyplot as plt

import seaborn as sb

from sklearn.datasets import load_boston

import pprint as p

from math import sqrt

In [12]:
boston_dataset = load_boston()
boston_dataset1 = load_boston

In [13]:
# print(boston_dataset)
# print(boston_dataset1)

### dtchj

In [16]:
print(boston_dataset.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [19]:
print(boston_dataset.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [20]:
boston_dataset.data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [21]:
boston_dataset.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [25]:
 boston_dataset.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [68]:
X = pd.DataFrame(boston_dataset.data , columns = boston_dataset.feature_names )

Y = pd.DataFrame(boston_dataset.target, columns=["Output"])

#or 

X1, Y1 = load_boston(return_X_y=True)

In [46]:
X.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

In [47]:
Y.dtypes

Output    float64
dtype: object

In [70]:
print(type(X))
print(type(Y))

print(X.shape)
print(Y.shape)

print("*"*80)

print(type(X1))
print(type(Y1))

print(X1.shape)
print(Y1.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
(506, 13)
(506, 1)
********************************************************************************
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(506, 13)
(506,)

In [49]:
X.head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98

In [50]:
Y.head(1)

   Output
0    24.0

In [64]:
# df = pd.merge([X, Y], left_index= True)

# df = X.merge(Y, on== "left") 

#Check merge is not working (why error)

In [56]:
df1 = pd.concat([X, Y], axis=1)
df1.head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Output
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98,24.0

In [94]:
x_train, x_test, y_train, y_test = train_test_split(X, Y , test_size = 0.2, random_state = 4)

In [74]:
model = LinearRegression()

model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [77]:
m= model.fit(x_train, y_train)
m

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [91]:
predict_x = model.predict(x_test)
print(predict_x.shape)
print(predict_x.dtype)
print(type(predict_x))
print(type(predict_x.shape))

print("*"*80)

print(type(x_test))
print(type(x_test.shape))
print(x_train.shape)
#print(type(x_test[0])) # error

(102, 1)
float64
<class 'numpy.ndarray'>
<class 'tuple'>
********************************************************************************
<class 'pandas.core.frame.DataFrame'>
<class 'tuple'>
(404, 13)

In [92]:
print(predict_x)

[[12.07495986]
 [26.9894969 ]
 [17.58803353]
 [18.15584511]
 [36.92091659]
 [25.43267386]
 [31.09256932]
 [19.72549907]
 [19.66103377]
 [22.96358632]
 [28.38841214]
 [28.48925986]
 [18.99690357]
 [32.41097504]
 [21.52350275]
 [15.25945122]
 [21.23364112]
 [11.6220597 ]
 [11.37109662]
 [13.63515584]
 [ 5.62431971]
 [17.35323315]
 [20.80951594]
 [22.51311312]
 [16.39055556]
 [20.32352451]
 [17.88994185]
 [14.23445109]
 [21.1187098 ]
 [17.50765806]
 [14.54295525]
 [23.63289896]
 [34.32419647]
 [22.23027161]
 [16.82396516]
 [20.16274383]
 [30.67665825]
 [35.61882904]
 [23.50372003]
 [24.66451121]
 [36.91269871]
 [32.33290254]
 [19.11785719]
 [32.19546605]
 [33.42795148]
 [25.52705821]
 [40.63477427]
 [18.21762788]
 [19.34587461]
 [23.80167377]
 [33.42122982]
 [26.1451108 ]
 [18.10363121]
 [28.19906437]
 [13.37486655]
 [23.34019279]
 [24.44952678]
 [33.54973856]
 [16.71263275]
 [36.56402224]
 [15.69684554]
 [18.55447039]
 [32.14543203]
 [15.49568061]
 [39.02363234]
 [27.38174402]
 [31.96333419]
 [10.09436162]
 [19.13214621]
 [21.73038157]
 [23.14682001]
 [22.82615401]
 [22.51245566]
 [28.21477189]
 [17.13262484]
 [23.08039019]
 [16.65978367]
 [25.17892617]
 [13.68806399]
 [19.8195139 ]
 [22.31237842]
 [20.24637447]
 [28.35989119]
 [19.12635952]
 [30.49206633]
 [22.25649076]
 [29.98229473]
 [19.27750127]
 [23.73890345]
 [38.32216452]
 [31.24781499]
 [41.92137782]
 [18.61466511]
 [37.47526878]
 [19.66151941]
 [23.44504636]
 [26.55358092]
 [22.38454399]
 [ 9.59394823]
 [20.39499251]
 [ 9.22793989]
 [27.36219976]]

In [96]:
accuracy = r2_score(y_test , predict_x)
print(accuracy)

0.7263451459702503

In [104]:
MAE = mean_absolute_error(y_test , predict_x)
MSE = mean_squared_error(y_test , predict_x)
MSLE = mean_squared_log_error(y_test , predict_x) # mean sequare log error

RMSE = np.sqrt(MSE) # or RMSE = sqrt(MSE)

In [110]:
print("MAE  : ", MAE)
print("MSE  : ", MSE)
print("MSLE : ", MSLE)

print("RMSE : ", RMSE)

MAE  :  3.3677909837965796
MSE  :  25.41958712682191
MSLE :  0.03768869076769671
RMSE :  5.041784121402057

In [124]:
print("MAE  : %f\nMSE  : %f\nMSLE : %f\nRMSE : %F"%(MAE, MSE, MSLE, RMSE)) # %f or %F

MAE  : 3.367791
MSE  : 25.419587
MSLE : 0.037689
RMSE : 5.041784

In [125]:
print("{MAE  : }, {MSE  : }".format(MAE, MSE))

KeyError: 'MAE  '

# Polynomial Feature

In [115]:
poly_deg_2 = PolynomialFeatures(degree=2)
poly_x_train = poly_deg_2.fit_transform(x_train)
poly_x_test = poly_deg_2.transform(x_test)

In [119]:
model_linear_poly= LinearRegression()
model_linear_poly.fit(poly_x_train, y_train)
model_linear_poly

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [120]:
predict_x_poly = model_linear_poly.predict(poly_x_test)
predict_x_poly

array([[14.13836098],
       [20.96857595],
       [16.00383425],
       [27.90458345],
       [42.45912504],
       [29.6331358 ],
       [32.31564999],
       [17.4035244 ],
       [13.77465582],
       [ 7.47317171],
       [26.71329069],
       [30.28001451],
       [ 5.84319544],
       [35.50941849],
       [21.71866655],
       [10.18497896],
       [20.62191057],
       [11.73146057],
       [15.02927399],
       [ 9.84592295],
       [-5.74184942],
       [19.18593407],
       [18.42313862],
       [20.29263353],
       [16.83149004],
       [19.40340614],
       [26.26445103],
       [17.43382025],
       [18.77905893],
       [21.44256115],
       [15.00426626],
       [21.7625165 ],
       [33.7900362 ],
       [22.17863989],
       [17.39248514],
       [13.72604275],
       [31.7878499 ],
       [40.52387285],
       [24.24325848],
       [25.42288399],
       [44.8551321 ],
       [35.52146149],
       [17.667377  ],
       [31.34153795],
       [27.60453176],
       [18.69753361],
       [45.28509331],
       [23.02052546],
       [19.05421448],
       [27.34237623],
       [35.37656164],
       [27.39108372],
       [13.65193748],
       [34.79756212],
       [ 7.36622238],
       [18.13656616],
       [23.81677628],
       [33.56184816],
       [ 8.6364913 ],
       [37.30495405],
       [16.27863264],
       [20.20170832],
       [29.14481115],
       [18.20659208],
       [43.28457022],
       [24.98013353],
       [45.94855738],
       [ 3.90186071],
       [17.11701298],
       [23.89356422],
       [22.99294329],
       [20.67886257],
       [25.15727472],
       [25.25140333],
       [ 8.19254017],
       [28.57105064],
       [16.70051003],
       [23.68065691],
       [ 7.93170452],
       [ 2.96169424],
       [19.92826653],
       [15.72811651],
       [29.33743382],
       [15.00962687],
       [28.17927408],
       [22.0159893 ],
       [33.38090277],
       [17.30465746],
       [30.14402294],
       [46.07625628],
       [24.55958652],
       [41.11661673],
       [19.59295034],
       [44.87550259],
       [22.72244644],
       [20.61501408],
       [29.57438707],
       [35.47604752],
       [10.30650711],
       [20.27938175],
       [ 8.30677795],
       [26.21493721]])

In [130]:
MAE_Poly = mean_absolute_error(y_test , predict_x_poly)
MSE_Poly = mean_squared_error(y_test , predict_x_poly)
# MSLE_Poly = mean_squared_log_error(y_test , predict_x_poly) # MSLE can not be used when targets contains -ve values. 

RMSE_Poly = np.sqrt(MSE_Poly) # or RMSE = sqrt(MSE)

In [139]:
print("MAE_Poly  : %f\nMSE_Poly  : %f\nRMSE_Poly : %F"%(MAE_Poly, MSE_Poly, RMSE_Poly))
print("MAE  : %f\nMSE  : %f\nMSLE : %f\nRMSE : %F"%(MAE, MSE, MSLE, RMSE)) # %f or %F

MAE_Poly  : 3.563761
MSE_Poly  : 25.369577
RMSE_Poly : 5.036822
MAE  : 3.367791
MSE  : 25.419587
MSLE : 0.037689
RMSE : 5.041784

In [142]:
accuracy = r2_score(y_test , predict_x)
print(accuracy * 100)


Accuracy_Poly = r2_score(y_test , predict_x_poly)
print(Accuracy_Poly * 100)

72.63451459702503
72.68835299738494